<form class="custom-form">
  <div class="form-group">
    <label for="name">Username</label>
    <p-floatLabel>
      <input id="name" type="text" pInputText [(ngModel)]="candidateName" name="name"/>
    </p-floatLabel>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <p-floatLabel>
      <input id="email" type="email" pInputText [(ngModel)]="candidateEmail" name="email"/>
    </p-floatLabel>
  </div>

  <div class="form-group">     <label for="email">Email Content:</label>     <textarea          type="email"         id="emailContent"         name="emailContent"         variant="filled"         rows="5"         cols="100"          pInputTextarea          [(ngModel)]="emailContent" >     </textarea>     </div>

  <button type="button" class="btn btn-primary" (click)="edit()">
    {{ editMode ? 'Save' : 'Edit' }}
  </button>
  

  <div class="form-group" [ngClass]="{ 'disabled': !editMode }">
    <label for="subject">Subject</label>
    <p-floatLabel>
      <input id="subject" type="text" pInputText [(ngModel)]="modification.subject" name="subject" [disabled]="!editMode"/>
    </p-floatLabel>
  </div>
  
  <div class="form-group" [ngClass]="{ 'disabled': !editMode }">
    <label for="text">Text</label>
    <p-floatLabel>
      <textarea id="text" rows="5" cols="50" pInputTextarea [(ngModel)]="modification.text" name="text" [disabled]="!editMode"></textarea>
    </p-floatLabel>
  </div>
  

  <div class="form-buttons">
    <button type="button" class="btn btn-primary" (click)="inviteCandidates()">Invite Candidates</button>
    <button type="button" class="btn btn-primary" (click)="previewTestLink(testLink)">Preview</button>
  </div>
</form>
