<p-toast></p-toast>

<p-buttonGroup class="buttonGroup">
  <p-button
    (click)="toTestList()"
    severity="secondary"
    label=""
    icon="pi pi-chevron-left"
  ></p-button>
  <p-button
    (click)="toFrame1()"
    severity="secondary"
    label="Questions"
    icon="pi-list-check"
  ></p-button>
  <p-button
    (click)="toFrame2()"
    severity="secondary"
    label="Candidates"
    icon="pi pi-users"
  ></p-button>

  <p-button
    (click)="toFrame3()"
    severity="secondary"
    label="Submission"
    icon="pi pi-check-circle"
  ></p-button>
  <p-button
    (click)="saveChanges()"
    severity="secondary"
    label="Save"
    icon="pi pi-save"
  ></p-button>
</p-buttonGroup>
<ng-container *ngIf="currentFrame === '1'">
  <p-pickList
    [source]="items"
    [target]="currentTest"
    sourceHeader="Question bank"
    targetHeader="Your test"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '20rem' }"
    [targetStyle]="{ height: '20rem' }"
    filterBy="name"
    sourceFilterPlaceholder="Search by name"
    targetFilterPlaceholder="Search by name"
    breakpoint="1400px"
  >
    <!-- Template for source items -->
    <ng-template let-quiz pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 d-flex justify-content-between align-items-center">
          <span class="font-bold">{{ quiz?.name }}</span>
          <div class="d-flex gap-2 align-items-center">
            <p-tag
              [severity]="getSeverity(quiz.difficulty)"
              [value]="quiz.difficulty"
            ></p-tag>
            <p-button
              icon="pi pi-question-circle"
              [rounded]="true"
              [text]="true"
              severity="help"
              (click)="toggleSidebar(quiz)"
            ></p-button>
          </div>
        </div>
        <app-sidebar-preview
         [sidebarVisible]="sidebarVisible" [item]="items" [selectedItem]="selectedItem" (hide)="toggleSidebar(quiz)"
        ></app-sidebar-preview>
      </div>
    </ng-template>
  </p-pickList>
  <br />
</ng-container>
<ng-container *ngIf="currentFrame === '2'">
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="candidateName"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="candidateEmail"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="emailContent">Email Content:</label>
      <textarea
        class="form-control"
        id="emailContent"
        [(ngModel)]="emailContent"
        name="emailContent"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input
        type="text"
        class="form-control"
        id="subject"
        [(ngModel)]="modification.subject"
        name="subject"
      />
    </div>
    <div class="form-group">
      <label for="text">Text:</label>
      <textarea
        class="form-control"
        id="text"
        [(ngModel)]="modification.text"
        name="text"
      ></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="inviteCandidates()">
      Invite Candidates
    </button>
  </form>
</ng-container>
<ng-container *ngIf="currentFrame === '3'">
  <div class="card">
    <p-table
      [value]="submissions"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">Candidates</th>
          <th style="width: 25%">Email</th>
          <th style="width: 25%">Score</th>
          <th style="width: 25%">Last activity</th>
          <th style="width: 25%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-submission>
        <tr>
          <td>{{ submission.userId.fullName }}</td>
          <td>{{ submission.userId.email }}</td>
          <td>{{ submission.overallScore }}</td>
          <td>{{ submission.updatedAt }}</td>
          <td>
            <button pButton type="button" icon="pi pi-search"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>