<div class="container-fluid" *ngIf="currentStep === 1">
  <div class="flex align-items-center">
    <i class="bi bi-file-text"></i> <span class="ml-2">Create a new test</span>
  </div>
  <br />
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label"
      >1-Name of the test</label
    >
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="type the name of the test"
      [(ngModel)]="Test.name"
    />
  </div>

  <p>2-What is the difficulty :</p>
  <div class="diffForm">
    <div class="flex align-items-center">
      <input type="radio" [value]="'Easy'" [(ngModel)]="Test.difficulty"/> Easy
    </div>

    <div class="flex align-items-center">
      <input type="radio" [value]="'Medium'" [(ngModel)]="Test.difficulty"/> Medium
    </div>

    <div class="flex align-items-center">
      <input type="radio" [value]="'Hard'" [(ngModel)]="Test.difficulty"/> Hard
    </div>
  </div>
  <br />
  <div class="btnContainer1">
    <button
      type="button"
      class="btn btn-primary btn-block"
      (click)="nextStep()"
    >
      Next step: choose skills
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>

<div class="container-fluid" *ngIf="currentStep === 2">
  <div class="flex align-items-center">
    <i class="bi bi-file-text"></i> <span class="ml-2">Create a new test</span>
  </div>
  <br />
  <p>3. Which skills do you want to test?</p>
  <div class="languageCheckBox">
    <div class="form-check form-check-inline">
      <input type="checkbox" /> Java
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox"  />
      Python
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" /> C
    </div>
  </div>
  <br />
  <div class="btnContainer">
    <button
      type="button"
      class="btn btn-default btn-block col-sm-2"
      (click)="previousStep()"
    >
      Back
    </button>
    <button type="button" class="btn btn-primary btn-block col-sm-10" (click)="createTest()">
      Create my test

      <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>
<p-toast></p-toast>

