<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Add Task</h4>
                    </div>
                    <div class="card-body">
                        <div *ngIf="testing" class="alert alert-success">Task Added <a routerLink="/"></a></div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input class="form-control" id="description" [(ngModel)]="description" name="description">
                        </div>
                        <div class="form-group">
                            <label for="description">Initial Code</label>
                            <input class="form-control" id="description" [(ngModel)]="initialCode" name="Initial Code">
                        </div>
                        <div class="form-group">
                            <label for="description">Solution Code</label>
                            <input class="form-control" id="description" [(ngModel)]="solutionCode" name="solutionCode">
                        </div>
                        <div class="form-group">
                            <label for="description">Hint</label>
                            <input class="form-control" id="description" [(ngModel)]="hint" name="description">
                        </div>
                        <div class="form-group">
                            <label for="description">Order</label>
                            <input class="form-control" id="description" type="number" [(ngModel)]="order" name="description">
                        </div>
                        <div class="form-group">
                            <label for="difficulty">Difficulty</label>
                            <select class="form-control" id="difficulty" [(ngModel)]="difficulty" name="difficulty">
                                <option value="Easy">Easy</option>
                                <option value="Medium">Medium</option>
                                <option value="Hard">Hard</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-warning" (click)="addTask()">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>