<!-- <div class="row m-3">
  <div class="col">
    <div class="d-flex justify-content-between mb-2 bg-dark rounded p-2">
      <div class="col-12 w-25">
        <label class="visually-hidden" for="inlineFormSelectPref"
          >Preference</label
        >
        <select class="form-select" id="inlineFormSelectPref">
          <option selected>Java</option>
        </select>
      </div>
      <div>
        <button
          type="button"
          id="run"
          class="btn btn-success"
          (click)="executeUserCode()"
        >
          <i class="bi bi-play-fill"> Run</i>
        </button>
      </div>
    </div>
    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
    <div class="h-50">
      <label for="Output" class="text-light mb-2">Output</label>
      <textarea
        rows="8"
        [class.error-message]="executionResult.startsWith('Error:')"
        type="text"
        id="output"
        class="form-control h-75"
        aria-label="Last name"
        >{{ executionResult }}</textarea
      >
    </div>
  </div>
  <div class="col d-flex flex-column rounded bg-dark px-4">
    <app-game></app-game>
  </div>
</div> -->

<div class="container-fluid">
  <!-- Top section with two columns, where the first column has two nested rows -->
  <div class="row">
    <!-- First column which is subdivided into two rows -->
    <div class="col-md-6" id="ideOutputContainer">
      <!-- First nested row in the first column -->
      <div class="row">
        <div class="row">
          <div class="col-12">
            <button
              type="button"
              id="run"
              class="btn btn-success"
              (click)="executeUserCode()"
            >
              <i class="bi bi-play-fill"> Run</i>
            </button>
          </div>
          <div class="col-12">
            <ngx-monaco-editor
              [options]="editorOptions"
              [(ngModel)]="code"
            ></ngx-monaco-editor>
          </div>
        </div>
      </div>
      <!-- Second nested row in the first column -->
      <div class="row">
        <div class="col-12" id="outputcontainer">
          <label for="Output" class="text-light mb-2">Output</label>
          <textarea
            rows="8"
            [class.error-message]="executionResult.startsWith('Error:')"
            type="text"
            id="output"
            class="form-control h-75"
            aria-label="Last name"
            >{{ executionResult }}</textarea
          >
        </div>
      </div>
    </div>

    <!-- Second column -->
    <div class="col-md-5" id="gameContainer">
      <app-game></app-game>
    </div>
  </div>

  <!-- Full-width row below the top section -->
  <div class="row">
    <div class="col-12">
      <textarea name="" readonly id="" cols="184" rows="8"></textarea>
    </div>
  </div>
</div>
