<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Coding language
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">JavaScript</a></li>
    <li><a class="dropdown-item" href="#">Java</a></li>
    <li><a class="dropdown-item" href="#">Python</a></li>
  </ul>
</div>
<br>
<ngx-monaco-editor
  [options]="editorOptions"
  [(ngModel)]="code"
></ngx-monaco-editor>
<div class="output">
<button class="btn btn-primary" type="button" (click)="executeUserCode()">
  Execute Code
<i class="bi bi-chevron-double-right"></i>
</button>
<H3>Console output</H3>
  <pre [class.error-message]="executionResult.startsWith('Error:')">{{ executionResult }}</pre>
</div> -->

<div class="row m-3">
  <div class="col">
    <div class="d-flex justify-content-between mb-2 bg-dark rounded p-2">
      <div class="col-12 w-25">
        <label class="visually-hidden" for="inlineFormSelectPref"
          >Preference</label
        >
        <select class="form-select" id="inlineFormSelectPref">
          <option selected>Java</option>
          <!-- <option value="Java">Java</option>
          <option value="Cpp">C++</option>
          <option value="Python">Python</option> -->
        </select>
      </div>
      <div>
        <button
          type="button"
          id="run"
          class="btn btn-success"
          (click)="executeUserCode();"
        >
          <i class="bi bi-play-fill"> Run</i>
        </button>
      </div>
    </div>
    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
    <div class="h-50">
      <label for="Output" class="text-light mb-2">Output</label>
      <textarea
        rows="8"
        [class.error-message]="executionResult.startsWith('Error:')"
        type="text"
        id="output"
        class="form-control h-75"
        aria-label="Last name"
        >{{ executionResult }}</textarea
      >
    </div>
  </div>
  <div class="col d-flex flex-column rounded bg-dark px-4">
    <section id="gameSection">
      <div class="jeu">
        <div class="perso">
          <img src="assets/img.png" alt="" />
        </div>
        <div class="obstacles"></div>
      </div>
    </section>

    <div class="control">
      <button (click)="sauter()">SAUTER</button>
      <button (click)="startGame()">start game</button>

    </div>
  </div>
    <!-- <div>
      <section>
        <div class="jeu">
          <div class="perso">
            <img src="img.png" alt="" />
          </div>
          <div class="obstacles"></div>
        </div>
      </section>

      <div class="control">
        <button onclick="sauter()">SAUTER</button>
      </div>  
    </div> -->
    <br /><br />
  </div>