/* Body Component CSS */
.dark-theme {
  background-color: #212529;
}

/* Adjust container padding and margin */
.container {
  padding: 1rem;
  margin: 0 auto;
}

.bg-dark {
  background-color: #212529;
}

#output {
  resize: none;
  /* Set appropriate height or rows */
}

/* Enhance button styling */



#ideOutputContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.output-container {
  margin-top: 1rem; /* Adjust margin as needed */
}

#topBar{
  background-color: #191c1f;
}

#taskInfo{
  background-color: white;
}
#textAreaTask{
  color: #191c1f;
}
#chapterName{
  color: white;
}
textarea{
  background-color: rgb(206, 206, 206);
  resize: none;
  margin: 3px 0px;
 font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 30px;
  border: none;
  font-family: Monaco,Menlo,Ubuntu Mono,Droid Sans Mono,Consolas,monospace;}

  .bottomBar{
    background-color: black;
    width: 100%;
    height: 50px;
  }
  .bottomBar p{
    color: white;
    text-align: center;
    justify-self: center;
  }
  button {
    border-radius: 0%;
  }