<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1><a routerLink="">Vesperr</a></h1>
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <div *ngIf="isLoggedIn() && user.role !== 'admin'">
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li *ngIf="isLoggedIn() && user.role !== 'admin'">
          <a class="nav-link scrollto active" routerLink="homeStepper">Quest</a>
        </li>
        <li *ngIf="isLoggedIn() && user.role !== 'admin'">
          <a class="nav-link scrollto" routerLink="">Events</a>
        </li>
        <li *ngIf="isLoggedIn() && user.role !== 'admin'">
          <a class="nav-link scrollto" routerLink="">Solo</a>
        </li>
        <li *ngIf="isLoggedIn() && user.role !== 'admin'">
          <a class="nav-link scrollto" routerLink="">Multi</a>
        </li>
        <li *ngIf="isLoggedIn() && user.role !== 'admin'">
          <a class="nav-link scrollto" routerLink="">Community</a>
        </li>

        <li *ngIf="isLoggedIn() && user.role !== 'admin'" class="dropdown">
          <a ><span>User</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="profile">Account</a></li>
            <li><a (click)="logOut()">Sign out</a></li>
          </ul>
        </li>
        <li>
          <a
            class="nav-link scrollto active"
            routerLink="signup"
            *ngIf="!isLoggedIn()"
            >Sign up</a
          >
        </li>
        <li>
          <a
            class="getstarted scrollto"
            routerLink="login"
            *ngIf="!isLoggedIn()"
            >Get Started</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
