#stepperSection {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#stepperSection .card-title {
    text-align: center;
    margin-bottom: 20px; /* Réduction de la marge inférieure */
    color: #333;
    font-size: 20px; 
}

#stepperSection .main-timeline2 {
    margin-top: 20px
}
#stepperSection .container {
    max-width: 600px; /* Réduction de la largeur maximale de la carte */
    margin: 0 auto; /* Centrage horizontal */
}

#stepperSection .timeline {
    position: relative;
    margin-bottom: 20px;
}

#stepperSection .timeline-content {
    position: relative;
    padding: 10px;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Transition sur tous les changements */
}

#stepperSection .timeline-content:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#stepperSection .year {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #f2bb13;
    color: #fff;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Pour afficher par-dessus le contenu */
}

#stepperSection .inner-content {
    padding-top: 20px;
    text-align: center; /* Alignement du contenu au centre */
}

#stepperSection .title {
    font-size: 16px;
    color: #333;
    margin: 0;
}

#stepperSection .timeline.active .year {
    background-color: #f2bb13;
}

#stepperSection .notactive .year{ 
    color: #070707 ;
    background-color: #C0C0C0;
}
#stepperSection .notactive .inner-content
 {
    color: #070707; 
}

#stepperSection .notactive .title {
    color: #070707 ; /* Couleur grise */
}

#stepperSection .notactive .timeline-content {
    background-color: #C0C0C0; /* Couleur de fond grise */
}


@media only screen and (max-width: 767px) {
    #stepperSection .timeline-content {
        padding: 10px;
    }

    #stepperSection .year {
        font-size: 12px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        top: -10px;
    }

    #stepperSection .title {
        font-size: 14px;
    }
}