<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section id="stepperSection">
    <main>
        <div class="container">
            <h1 class="display-5 fw-bold card-title" style="color : #f2bb13;">Quest Map</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline2">
                        <div class="timeline"
                            *ngFor="let chapter of chapters; let i = index"
                            [ngStyle]="{ color: i < currentChapter ? '#000000' : '#C0C0C0', cursor: chapterActivationState[i] ? 'pointer' : 'not-allowed' }"
                            [class.active]="i + 1 === currentChapter"
                            (click)="i < currentChapter ? navigateToCompilator(i + 1) : null" [ngClass]="{ 'notactive': i >= currentChapter }"
                        >
                            <div class="timeline-content">
                                <div class="year">{{ i + 1 }}</div>
                                <div class="inner-content">   <h3 class="title">{{ chapter.name }}</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>