<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Users Table</h4>
                        <div class="card-category">
                            <input class="form-control" placeholder="Search" type="text" style="background-color: rgba(236, 70, 70, 0.392) !important; color: white !important;"> </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                  
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        N° Telephone
                                    </th>
                                    <th>
                                        Role
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of userTable">
                                        <td>
                                           {{i.fullName}}
                                        </td>
                                        <td>
                                            {{i.email}}
                                        </td>
                                        <td>
                                            {{i.phone}}
                                        </td>
                                        <td>
                                            {{i.role}}
                                        </td>
                                        <td >
                                            <button mat-raised-button type="button" [routerLink]="['/updateuser/',i._id]" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-outline-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button  (click)="delete(i._id)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-outline-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are u sure ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

