<div class="container">
    <div class="steps">
        <span class="circle active" [routerLink]="['/body', 'chapter', 1]">1</span>
        <span class="circle" [routerLink]="['/body', 'chapter', 2]">2</span>
      <span class="circle" [routerLink]="['/body', 'chapter', 3]">3</span>
      <span class="circle" [routerLink]="['/body', 'chapter', 4]">4</span>
      <span class="circle" [routerLink]="['/body', 'chapter', 5]">5</span>
      <span class="circle" [routerLink]="['/body', 'chapter', 6]">6</span>
      <span class="circle" [routerLink]="['/body', 'chapter', 7]">7</span>
      <span class="circle" [routerLink]="['/body', 'chapter', 8]">8</span>
      
      <div class="progress-bar">
        <span class="indicator"></span>
      </div>
    </div>
    <div class="buttons">
      <button id="prev" disabled>Prev</button>
      <button id="next">Next</button>
    </div>
  </div>
