<section class="py-3 py-md-5 py-xl-8" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-5">
          <h2 class="display-5 fw-bold text-center" style="color : #f2bb13;">SIGN IN TO AN EXISTING ACCOUNT</h2>
          <p class="text-center m-0">Don't have an account? <a routerLink="/signup">Register</a></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="row gy-5 justify-content-center">
          <div class="col-12 col-lg-5">
            <form [formGroup]="loginForm">
              <div class="row gy-3 overflow-hidden">
                <!-- email -->
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control border-1 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com" formControlName="email" required>
                    <label for="email" class="form-label">Email</label>
                  </div>
                </div>
                <!-- password -->
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control border-1 border-bottom rounded-0" name="password" id="password" value="" placeholder="Password" formControlName="password" required>
                    <label for="password" class="form-label">Password</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                        <label class="form-check-label text-secondary" for="remember_me">
                          Remember me
                        </label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="text-end">
                        <a routerLink="/forgotPassword" routerLinkActive="active-link" class="link-secondary text-decoration-none">Forgot password?</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit" [disabled]="loginForm.invalid" (click)="login()">LOG IN</button>
                    <span style="color: red;">{{errorMsg}}</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- other Connect -->
          <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center gap-3 flex-lg-column">
            <div class="bg-dark h-100 d-none d-lg-block" style="width: 1px; --bs-bg-opacity: .1;"></div>
            <div class="bg-dark w-100 d-lg-none" style="height: 1px; --bs-bg-opacity: .1;"></div>
            <div>or</div>
            <div class="bg-dark h-100 d-none d-lg-block" style="width: 1px; --bs-bg-opacity: .1;"></div>
            <div class="bg-dark w-100 d-lg-none" style="height: 1px; --bs-bg-opacity: .1;"></div>
          </div>
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <div class="d-flex gap-3 flex-column w-100 ">
              <!-- connect with google -->
              <a href="#!" class="btn bsb-btn-2xl btn-outline-dark rounded-0 d-flex align-items-center" (click)="continueWithGoogle()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google text-danger" viewBox="0 0 16 16">
                  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                </svg>
                <span class="ms-2 fs-6 flex-grow-1">Continue with Google</span>
              </a>
              <!-- connect with GitHub -->
              <a href="#!" class="btn bsb-btn-2xl btn-outline-dark rounded-0 d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github text-success" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.29 6.533 5.47 7.59.4.074.547-.174.547-.385 0-.19-.007-.693-.01-1.36-2.012.347-2.54-.49-2.703-.94-.092-.23-.487-.94-.832-1.13-.284-.148-.685-.517-.011-.526.635-.01 1.083.585 1.235.83.723 1.21 1.875.873 2.334.664.07-.517.277-.873.504-1.077-1.764-.2-3.607-.882-3.607-3.923 0-.867.31-1.577.823-2.13-.082-.2-.36-1.065.078-2.213 0 0 .705-.224 2.313.86.672-.186 1.394-.278 2.11-.282.713.004 1.434.096 2.11.282 1.608-1.084 2.313-.86 2.313-.86.438 1.148.16 2.013.078 2.213.514.553.822 1.263.822 2.13 0 3.049-1.846 3.722-3.613 3.918.284.245.538.731.538 1.474 0 1.064-.01 1.923-.01 2.189 0 .213.144.463.552.384C13.716 14.53 16 11.535 16 8c0-4.418-3.582-8-8-8z"/>
                </svg>
                <span class="ms-2 fs-6 flex-grow-1">Continue with GitHub</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>