<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="content">
    <h4>{{ test?.tasks[currentTaskIndex - 1]?.name }}</h4>
    <!-- Display current task name -->
    <br />
    <p
      *ngFor="let task of test?.tasks; let i = index" 
      [ngStyle]="{ color: i < currentTaskIndex ? '#000000' : '#C0C0C0' }"
    >
      {{ task.name }}
    </p>
  </ng-template>
</p-sidebar>

<button
  (click)="sidebarVisible = true"
  class="btn btn-primary"
  icon="pi pi-arrow-right"
>
  <i class="bi bi-list-nested"></i> Syllabus
</button>
