<div class="main-content">


  <div class="container">
    <div class="row">
      <div class="col card mr-3">
        <div class="container-fluid ">
            <p-chart type="bar" [data]="basicData" [options]="chartOptions" [style]="{'width': '60%'}"></p-chart>
          </div>
      </div>
      <div class="col card mr-3">
        <div class="container-fluid">
            <p-chart type="bar" [data]="basicDatacountCHapterNumber" [options]="chartOptions" [style]="{'width': '60%'}"></p-chart>
          </div>
      </div>
      <div class="col card mr-3">
        <div class="container-fluid">
            <p-chart type="bar" [data]="basicDataccountByTasksLength" [options]="chartOptions" [style]="{'width': '60%'}"></p-chart>
          </div>
      </div>
    </div>
  </div>
</div>
